#menuBody {
    background-image: url('background.jpg');
  }
#startBtn {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    font-size: 40px;
    border: none;
    cursor:pointer;
    background-color: Transparent;
    color:white;
}

#leaderboardBtn {
    position: absolute;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    font-size: 40px;
    border: none;
    cursor:pointer;
    background-color: Transparent;
    color:white;

}
h1{
    text-align: center;
    padding-top:200px;
    color:white;
}
#startText{
    position:absolute;
    top:450px;
    left:100px;
    color:white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);

}
#leaderboardText{
    position:absolute;
    top:450px;
    left:750px;
    color:white;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}


/* leaderboard css*/
#container{
    position: relative;
    width: 600px;
    height: auto;
    margin: auto;
    background-color: white;
    display: none;
}
.row {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid black;
}
.name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
}
.time {
    position: relative;
    display: inline-block;
    width: 25%;
}


/* Game css */
#containerGame{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 10px;
    outline: 1px solid black;
    background-color:white;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
}
#player{
    position: absolute;
    height: 10px;
    width: 10px;
    outline: 1px solid black;
    background-color: red;
    left: 0;
    top: 0;
}
/* using the id selector of maze we can select the maze and edit divs inside the maze div without affecting the rest of the page */
#maze  div.wall{
    width: 10px;
    height: 10px;
    background-color: black;
}
#maze div.door {
    width: 10px;
    height: 10px;
    background-color: aqua;
}
#maze div {
    display: flex;
}
#maze div div {
    position: relative;
    height: 10px;
    width: 10px;
}


div {
    display: block;
    height: 10px;
    width: auto;
    margin: 0;

}




