#menuBody {
    background-image: url('background.jpg');
  }
#startBtn {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    font-size: 40px;
    border: none;
    cursor:pointer;
    background-color: Transparent;
    color:white;
}

#leaderboardBtn {
    position: absolute;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
    font-size: 40px;
    border: none;
    cursor:pointer;
    background-color: Transparent;
    color:white;

}
h1{
    text-align: center;
    padding-top:200px;
    color:white;
}
#startText{
    position:absolute;
    top:450px;
    left:100px;
    color:white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);

}
#leaderboardText{
    position:absolute;
    top:450px;
    left:750px;
    color:white;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}


/* leaderboard css*/
#container{
    position: center;
    width: 600px;
    height: auto;
    margin: auto;
    background-color: white;
    display: none;
}
.row {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid black;
}
.name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
}
.time {
    position: relative;
    display: inline-block;
    width: 25%;
}