html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

#main-holder {
    width: 50%;
    height: 75%;
    display: grid;
    justify-items: center;
    align-items:  center;
    background-color: white;
    box-shadow: 0px 0px 5px 2px black;
}
#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    display: none;
}

.login_inputs {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}
#register-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    display: none;
}
#register-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}